:root {
  --font-primary: "Open Sans", sans-serif;
  --font-size-primary: 16px;
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.navigation {
  display: flex;
  justify-content: center;
}

.a-navigation,
.date {
  margin-right: 1em;
  color: var(--font-primary);
}
.a-navigation-active {
  margin-right: 1em;
  text-decoration: none;
  color: var(--font-primary);
  cursor: default;
}

.a-navigation:visited {
  color: var(--font-primary);
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

article {
  grid-column: 2/3;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.box-1,
.box-2,
.box-3 {
  text-align: center;
  padding: 8px 0;
}

.box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

#password-generator {
  border: solid 4px;
  border-radius: 20px;
  max-width: 500px;
  padding: 50px 0;
  margin: auto;
}

#copyBtn {
  cursor: pointer;
  vertical-align: bottom;
  margin-left: 1em;
}

#copyBtnDiv:focus-visible {
  border: solid 2px #3478f7;
}

button {
  outline: none;
  text-align: center;
  border: solid 3px;
  border-radius: 15px;
  width: 210px;
  padding: 0.6em 0 0.6em;
  background-color: white;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

button:focus-visible {
  border: solid 3px #3478f7;
  color: #3478f7;
}

input[type="text"] {
  outline: none;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px;
  width: 225px;
  padding: 0.6em 0 0.6em;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 0.8em;
}

.resultError {
  border-bottom: solid 3px red;
  color: red;
}

/* Mozilla Firefox */

@-moz-document url-prefix() {
  input[type="number"] {
    max-width: 40px;
  }
}

@media only screen and (max-width: 688px) {
  h1 {
    font-size: 1.8em;
  }

  .a-navigation,
  .a-navigation-active {
    font-size: 12px;
  }

  #password-generator {
    padding-left: 20px;
    padding-right: 20px;
  }

  input[type="text"] {
    font-size: 0.8em;
    width: 200px;
  }

  #icon {
    margin-top: 1em;
    margin-left: 0.5em;
    width: 20px;
    height: 20px;
  }
}
